@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Quiz Statistics for iSpring QuizMaker.</h2>
        </hgroup>
        <p>
            Quiz Stat:Last Login:Last Task...
        </p>
    </div>
</section>
}

@if ( Roles.IsUserInRole("Administrators")) {
    <form>
    
    </form>
    <a href="~/Instructors/GetQuizId">Отримати ID для тесту</a> 
}
else
    if ( Roles.IsUserInRole("Instructors")) {
    <a href="~/Instructors/GetQuizId">Отримати ID для тесту</a>        
}
else
{
    <span> Welcome <b>@WebSecurity.CurrentUserName</b>! </span>
}